# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/

# Environment
.env
.env.local

# Database
*.sqlite3
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Django
staticfiles/
media/

# Distribution
*.egg-info/
dist/
build/
